
@font-face {
    font-family: 'arvobold';
    src: url('fonts/arvo/arvo-bold-webfont.eot');
    src: url('fonts/arvo/arvo-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/arvo/arvo-bold-webfont.woff') format('woff'),
         url('fonts/arvo/arvo-bold-webfont.ttf') format('truetype'),
         url('fonts/arvo/arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight:bold;
    font-style: normal;

}
@font-face {
    font-family: 'arvoitalic';
    src: url('fonts/arvo/arvo-italic-webfont.eot');
    src: url('fonts/arvo/arvo-italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/arvo/arvo-italic-webfont.woff') format('woff'),
         url('fonts/arvo/arvo-italic-webfont.ttf') format('truetype'),
         url('fonts/arvo/arvo-italic-webfont.svg#arvoitalic') format('svg');
    font-weight: normal;
    font-style:italic;

}
@font-face {
    font-family: 'arvoregular';
    src: url('fonts/arvo/arvo-regular-webfont.eot');
    src: url('fonts/arvo/arvo-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/arvo/arvo-regular-webfont.woff') format('woff'),
         url('fonts/arvo/arvo-regular-webfont.ttf') format('truetype'),
         url('fonts/arvo/arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansBold';
    src: url('fonts/ptsans/pt_sans-web-bold-webfont.eot');
    src: url('fonts/ptsans/pt_sans-web-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/ptsans/pt_sans-web-bold-webfont.woff') format('woff'),
         url('fonts/ptsans/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('fonts/ptsans/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansItalic';
    src: url('fonts/ptsans/pt_sans-web-italic-webfont.eot');
    src: url('fonts/ptsans/pt_sans-web-italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/ptsans/pt_sans-web-italic-webfont.woff') format('woff'),
         url('fonts/ptsans/pt_sans-web-italic-webfont.ttf') format('truetype'),
         url('fonts/ptsans/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
    font-weight:normal;
    font-style:italic;

}
@font-face {
    font-family: 'PTSans';
    src: url('fonts/ptsans/pt_sans-web-regular-webfont.eot');
    src: url('fonts/ptsans/pt_sans-web-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/ptsans/pt_sans-web-regular-webfont.woff') format('woff'),
         url('fonts/ptsans/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('fonts/ptsans/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ================= RESET  ================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p,
pre {
    margin: 1em 0;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}
menu,
ol,
ul {
    padding: 0 0 0 40px;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/* ================= GENERAL STYLES  ================== */

body {
	min-height: 740px;
}
#page
{
    -webkit-font-smoothing: antialiased;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 20px;
	line-height:30px;
}
#page img
{
    max-width:100% !important;
    height:auto;
}
hr
{
	width:100%;
	height:1px;
	margin-top:20px;
	margin-bottom:20px;
	outline:none;
	border:none;
}
blockquote, blockquote p 
{
	line-height:30px;
	font-size:20px;
}
blockquote p 
{
	margin-bottom:0px !important;
}
blockquote
{
    margin: 0 0 30px;
    padding: 15px 20px 15px 19px;
    border-style: none none none solid;
}
blockquote cite 
{
	display:block;
	font-size:18px;
}
blockquote cite:before {
	content:"\2014 \0020"
}
::-moz-selection {
text-shadow: none;
}
::selection {
text-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom:20px !important;
	margin-top:20px !important;
	padding:0px;
	text-align:left;
	line-height:1;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{text-decoration:none !important;}
p {
	line-height:1.5;
	margin-bottom:30px !important;
	margin-top:0px !important;
	word-spacing: 0.2em;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
small {
	font-size: 85%;
}
img {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clr {
	clear:both;
}
.hide
{
	display:none !important;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
table td {
	padding:20px;
}
table th {
	padding:10px 20px 10px 20px;
	text-align:left;
	font-size:16px;
}

/* ================= FALLBACK MESSAGE  ================== */

.fallback-message {
	line-height: 1.3;
	width: 880px;
	padding: 10px 10px 0;
	margin: 20px auto;
	border: 1px solid #E4C652;
	background: #EEDC94;
}
.fallback-message p {
	margin-bottom: 10px !important;
	font-size:20px !important;
}
.impress-supported .fallback-message {
	display: none;
}
/* ================= HINT  ================== */

.hint
{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(38, 38, 38, 0.9);
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding: 15px 20px 15px 20px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
    -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
    -o-transition: opacity 1s, -o-transform 0.5s 1s;
    transition: opacity 1s, transform 0.5s 1s;
}
.impress-enabled .hint {
	display: block
}
.impress-on-home .hint {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
	-webkit-transition: opacity 1s 3s, -webkit-transform 0.5s 2.5s;
	-moz-transition:    opacity 1s 3s, -moz-transform 0.5s 2.5s;
	-ms-transition:     opacity 1s 3s, -ms-transform 0.5s 2.5s;
	-o-transition:      opacity 1s 3s, -o-transform 0.5s 2.5s;
	transition:         opacity 1s 3s, transform 0.5s 2.5s;
}
.impress-enabled {
	pointer-events: none
}
.impress-enabled #impress {
	pointer-events: auto
}
/* ================= OVERVIEW & STEPS  ================== */

.step {
	position: relative;
	width: 900px;
	margin: 20px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
	font-size: 40px;
	line-height: 1.5;
}
.impress-enabled .step {
	margin: 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}
.impress-enabled .step.active {
	opacity: 1
}
#overview
{
    display: none;
}
.impress-on-overview .step {
	opacity: 1;
	cursor: pointer;
}
/* ================= NAVIGATION  ================== */
.overview-button {
	position:fixed;
	left:-10px;
	top:10px;
	width:72px;
	height:62px;
	cursor:pointer;
	pointer-events: auto !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index:999999;
    text-align: center;
    border-right-style: solid;
    border-right-width: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.overview-button img
{
    width: 40px;
    height: 40px;
    float: right;
    padding: 12px 12px 0px 0px;
}
.overview-button:hover {
	border-right-style: solid;
    border-right-width: 5px;
}
.date-button {
	position:fixed;
	font-size:20px;
	right:0px;
	top:10px;
	width:auto;
	line-height:40px;
	z-index:999999;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
	padding-left:10px;
	padding-right:10px;
}
.search-button {
	position:fixed;
	right:0px;
	top:60px;
	width:60px;
	height:62px;
	cursor:pointer;
	pointer-events: auto !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index:999999;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
	display:block !important;
}
.search-button img
{
    width: 40px;
    height: 40px;
    float: right;
    padding: 12px 10px 0px 0px;
}
.search-button:hover {
	border-left-style: solid;
    border-left-width: 5px;
}
.home-button {
	position:fixed;
	left:-10px;
	top:10px;
	width:72px;
	height:62px;
	cursor:pointer;
	pointer-events: auto !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index:999999;
    text-align: center;
    border-right-style: solid;
    border-right-width: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.home-button img
{
    width: 40px;
    height: 40px;
    float: right;
    padding: 12px 12px 0px 0px;
}
.home-button:hover {
	border-right-style: solid;
    border-right-width: 5px;
}
ul#navigation {
	position:fixed;
	margin: 0px;
	padding: 0px;
	top: 10px;
	right: 0px;
	list-style: none !important;
	z-index:999999;
	cursor:pointer;
	pointer-events: auto !important;
	display:block;
}
ul#navigation li
{
    width: 200px;
    margin-bottom: 5px;
}
ul#navigation li img
{
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px 0px 0px 12px;
}
ul#navigation li a
{
    display: block;
    width: 200px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-left-style: solid;
    border-left-width: 5px;
}
ul#navigation li a:hover
{
    border-left-style: solid;
    border-left-width: 5px;
	text-decoration:none !important;
}
ul#navigation li span {
	line-height:62px;
}
/* ================= RIGHT PANEL  ================== */
.panel {
	position: fixed;
	top: 147px;
	left: 0px;
	display: none;
	width: auto;
	height: auto;
	min-width:180px;
	padding: 10px 20px 10px 20px;
	z-index:999999;
	pointer-events: auto !important;
	border-right-style: solid;
    border-right-width: 5px;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow-y:auto !important;
    max-height:400px;
}
.panel2 {
	position: fixed;
	top: 132px;
	right: 0px;
	display: none;
	width: auto;
	height: auto;
	padding: 0px;
	z-index:999999;
	pointer-events: auto !important;
	border-left-style: solid;
    border-left-width: 5px;
	border-top-style: solid;
    border-top-width: 5px;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.panel a:hover
{
	text-decoration:none !important;
}
.panel ul
{
    list-style:none;
    margin:0px;
    padding:0px;
}
.panel ul li
{
	margin-top:10px;
	margin-bottom:10px;
}
.panel ul li:before { content: "- "; }
.panel ul li ul li
{
	margin-left:20px;
}
.panel ul li ul li ul li
{
	margin-left:40px;
}
.topspace
{
    top:82px !important;
}
.trigger {
	position:fixed;
	left:-10px;
	top:80px;
	width:72px;
	height:62px;
	cursor:pointer;
	pointer-events: auto !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index:999999;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: center;
    border-right-style: solid;
    border-right-width: 5px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
	display:block !important;
}
.trigger img
{
    width: 40px;
    height: 40px;
    float: right;
    padding: 12px 12px 0px 0px;
}
.trigger:hover {
	border-right-style: solid;
    border-right-width: 5px;
}


/* ================= HOMEPAGE  ================== */
#home
{
    width:900px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	z-index:9;
}
.home-grid
{
    width:420px;
	float:left;
}
.home-grid2
{
    width:450px;
	float:left;
	padding-right:30px;
}
#home h1 {
	font-weight:bold;
	text-align: center;
	-webkit-transform: translateZ(50px);
	-moz-transform: translateZ(50px);
	-ms-transform: translateZ(50px);
	-o-transform: translateZ(50px);
	transform: translateZ(50px);
	margin: 20px 0px 0px 0px !important;
	line-height:1.5 !important;
}
#home h2 {
	text-align: center;
	-webkit-transform: translateZ(30px);
	-moz-transform: translateZ(30px);
	-ms-transform: translateZ(30px);
	-o-transform: translateZ(30px);
	transform: translateZ(30px);
	margin-top:0px !important;
	margin-bottom:15px !important;
	line-height:1.4 !important;
}
#home p {
	margin-top:0px;
	margin-bottom:12px !important;
	font-size:34px;
	margin-left:14px;
}
/* --- NIVO SLIDER --- */

.nivoSlider {
	position:relative;
	width:370px;
	height:370px;
	overflow: hidden;
	float:left;
	margin:10px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	width:370px;
	height:370px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img {
	display:block;
}
/* Direction nav styles */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:40px;
	background:url(images/nivo-arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a {
	opacity: 1;
}
.theme-default a.nivo-nextNav {
	background-position:-40px 0;
	right:0px;
}
.theme-default a.nivo-prevNav {
	left:0px;
}
.box {
	width:900px;
	height:390px;
    background-repeat: repeat;
	margin:0px auto;
}
.effect {
	position: relative;
}
.effect:before, .effect:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 10px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.effect:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
/* --- SOCIAL ICONS --- */

.icons
{
    list-style-type: none;
    float: left;
    display: block;
    margin: 30px 0px 0px 25px;
    padding: 0px !important;
    width: 100%;
}
.icons li {
	float: left;
	display: block;
	position: relative;
	margin-right:10px;
}
.icons li img
{
    width:60px;
}
.icons li:last-child {
	margin-left:0px !important;
	margin-right:0px !important;
}
.icon
{
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}
.icon:hover 
{
    margin-top:-20px;
	cursor:pointer;
}
/* ================= ABOUT ME  ================== */
#about
{
    width: 900px;
    padding-right: 0 0 1px 0;
    position: relative;
}
.about-panel
{
    max-height: 680px;
    outline: none !important;
    margin: 0px !important;
    overflow:auto;
}

.label
{
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    position: relative;
    margin-right: 15px;
	border-left-style:solid;
	border-left-width:5px;
}
.about-grid-left {
	width:50%;
	float:left;
	margin-top:10px;
	margin-bottom:15px !important;
}

.about-grid-right {
	width:50%;
	float:right;
	margin-top:10px;
	margin-bottom:15px !important;
}
.about-grid-left p, .about-grid-right p
{
    margin-bottom:15px !important;
}

/* ================= RESUME  ================== */

#resume {
	width: 710px;
	padding: 0 0 1px 0;
    position:relative;
    background-repeat: repeat;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	z-index:9;
}
#resume:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   border: 1px solid rgba(0, 0, 0, 0.150);
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}

#resume:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   border: 1px solid rgba(0, 0, 0, 0.150);
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: rotate(359deg);
   -moz-transform: rotate(359deg);
   -o-transform: rotate(359deg);
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
}
.resume-panel
{
    max-height: 700px !important;
    outline: none !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    padding-left:30px !important;
    padding-right:20px !important;
    margin: 0px !important;
    overflow:hidden !important;
}
.resume-panel:hover
{
    overflow-y: scroll !important;
}

.resume-info
{
   width:640px;
}
#resume .first
{
	font-weight:bold;
	font-size:24px;
	line-height:36px;
}
#resume .place {
	float: left;
	width: 400px;
}
#resume .time {
	float:right;
	width:225px;
	text-align:right;
}
#resume .second {
	padding-bottom: 10px;
}
/* ================= SKILLS  ================== */

#skills
{
    width: 800px;
    height:560px;
    padding: 0 0 1px 0;
    position: relative;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    background-repeat: repeat;
	z-index:9;
}
#skills:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   border: 1px solid rgba(0, 0, 0, 0.150);
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}

#skills:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   border: 1px solid rgba(0, 0, 0, 0.150);
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: rotate(359deg);
   -moz-transform: rotate(359deg);
   -o-transform: rotate(359deg);
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
}
#skills h2
{
    text-align:center;
	margin-left:40px;
	padding-top:10px;
}
.legend {
	float:left;
	width:100px;
	-webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
   margin-left:1px;
}
#diagram {
	float:left;
	width:500px;
	height:500px;
	margin-top:-20px;
	margin-left:120px;
	-webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}
.skills ul, .skills li {
	display:block;
	list-style:none;
	margin:0px;
	padding-left:0px;
	padding-top:10px;
}
.skills ul
{
   width:180px;
}
.skills li
{
    font-size: 26px;
    float: left;
    clear: both;
    padding: 0px 25px 0px 25px;
    line-height: 54px;
    margin-top: 5px;
	margin-bottom: 5px;
    width:100%;
}
.get {
	display:none;
}
/* ================= PORTFOLIO  ================== */

#portfolio {
	width: 840px;
	height: 695px;
	z-index:99999999;
	padding: 0 0 1px 0;
    position:relative;
    background-repeat: repeat;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	z-index:9;
}
#portfolio:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   border: 1px solid rgba(0, 0, 0, 0.150);
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
}

#portfolio:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   border: 1px solid rgba(0, 0, 0, 0.150);
   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transform: rotate(359deg);
   -moz-transform: rotate(359deg);
   -o-transform: rotate(359deg);
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
}
#portfolio h2
{
    text-align:center;
	line-height:1.3;
}
.portfolio-panel {
	max-height: 650px;
	outline:none !important;
    overflow: auto !important;
}

.ff-container
{
    width: 780px;
    margin: 0px auto 30px auto !important;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:0px;
    display: block;
    pointer-events: auto !important;
}
.ff-container label 
{
	width: 185px;
	height: 46px;
	cursor: pointer;
	line-height: 46px;
	font-size: 22px;
	float:left;
	text-align:center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ff-container input {
	display: none;
}
.ff-items {
	position: relative;
	margin: 0px auto;
    padding: 0px;
	padding-top: 20px;
    list-style:none;
}
.ff-items a {
	display: block;
	position: relative;
	padding: 2px;
	margin: 10px 20px 10px 0px;
	width: 164px;
	height: 120px;
}
.ff-items img
{
    width:164px;
    height:120px;
}
.ff-items a span {
	display: block;
	font-size:18px;
	font-weight: bold;
	padding: 20px;
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 124px;
	height: 0px;
	overflow: hidden;
	opacity: 0;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.ff-items a:hover span {
	height: 80px;
	opacity: 1;
}
.ff-items li img {
	display: block;
}
.ff-items li {
	margin: 0px;
	float: left;
	width: 190px;
	height: 148px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1), .ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2), .ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) {
 opacity: 0.1;
 -webkit-transform: scale(0.5);
 -moz-transform: scale(0.5);
 -o-transform: scale(0.5);
 -ms-transform: scale(0.5);
 transform: scale(0.5);
}
.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1) span, .ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2) span, .ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) span {
 display:none;
}

/* ================= CONTACT  ================== */

#contact {
	width: 900px;
	padding-bottom: 340px;
	height:700px;
	z-index:99999999;
}
#contact p {
	font-size:22px;
}
#contact h5 
{
    padding-bottom:15px;
	margin-top:0px;
	padding-top:0px;
}
#contact iframe
{
    width: 880px !important;
    height: 290px !important;
    padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
    z-index:9;
}
.map-effect
{
    position: relative;
    width: 900px;
    height:auto !important;
    margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom:-20px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-repeat: repeat;
	display: inline-block;
}
.map-effect:before, .map-effect:after {
	z-index: -9;
	position: absolute;
	content: "";
	bottom: 10px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:900px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.map-effect:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.map-effect2
{
    position: relative;
    width: auto;
    height:auto !important;
    margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom:-40px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-repeat: repeat;
	display: inline-block;
}
.map-effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}  
.contact-left {
	width: 470px;
	float: left;
	margin-top: 0px;
	padding-left:40px;
	margin-bottom: 40px;
}
.contact-right {
	width:320px;
	float: right;
	margin-top:0px;
	padding-left:20px;
	padding-right:50px;
	margin-bottom: 40px;
}
.contact-left p
{
    margin-bottom:15px !important;
}
.statusMessage {
	display: none;
	margin: auto;
	width: 600px;
	height: 3.5em;
	padding: 20px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999999;
}
.statusMessage p {
	text-align: center;
	color:#fff !important;
	margin: 0;
	padding: 0;
}
#map {
	min-height:100px;
}
.contact-form {
	width: 100%;
	display: inline-block;
}
#contactForm {
	display:block !important;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
	border: 1px solid #ccc;
	color: rgba(0, 0, 0, 0.90);
	display: block;
	font-size: 18px;
	margin: 0 0 15px 0;
	padding: 5px;
	height: 20px;
	width: 99%;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	background-color: #e2e3df;
}
input[type="text"].oversize, input[type="email"].oversize {
	font-size:15px;
	padding:4px 5px
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	background:#fff;
	outline:none !important;
	border-color:#b3b3b3
}
textarea {
	height:70px;
	margin-bottom: 0px !important;
}
input[type="submit"]
{
    width: auto;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    margin: 0px !important;
    outline: none;
    padding: 10px 15px 10px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    border: none !important;
}
input[type="submit"].button
{
    width: 100%;
    font-size: 18px;
}
input[type="text"].searchtext {
	margin: 0px !important;
}
/* ================= CREDITS  ================== */
#credits p {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style:    preserve-3d;
	-ms-transform-style:     preserve-3d;
	-o-transform-style:      preserve-3d;
	transform-style:         preserve-3d;
	font-size:34px;
	line-height:51px;
}
#credits .footnote {
	font-size: 26px;
	line-height:39px;
	-webkit-transform: translateZ(-10px);
	-moz-transform:    translateZ(-10px);
	-ms-transform:     translateZ(-10px);
	-o-transform:      translateZ(-10px);
	transform:         translateZ(-10px);
}

/* ================= COLORBOX  ================== */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999999999999999999; overflow:hidden; pointer-events: auto !important;}
#colorbox img {max-height:540px !important; width:auto !important;}
#cboxOverlay{position:fixed; width:100%; height:100%; }
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; }
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{padding:1px;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; top:-22px; left:0;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(images/controls.png) no-repeat 0 0;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/* ================= PAGE  ================== */
#page
{
    width: 900px;
    padding: 0 0 1px 0;
    position: relative;
}
.page-info
{
   width:825px;
   padding-left:30px !important;
   padding-right:0px !important; 
   padding-top:15px !important; 
   padding-bottom:0px !important;     
}
#page img
{
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
#page img:hover
{
	opacity:0.5;
}
.post-meta, .comment-meta
{
	font-size:18px;
}
.entrytext p
{
    margin-bottom:0px !important;
}
.entrytext img
{
    float:left;
    margin-right:20px;
    margin-bottom:10px;
    margin-top:10px;
}
.postclr
{
    height:15px;
    clear:both;
}
.searchfor
{
	line-height:1.5;
	 font-weight:bold;
}
.searchform
{
    margin-bottom:20px;
}
.archive-ul
{
	font-size:22px;
	margin-top:10px !important;
	margin-bottom:30px !important;
}
.form-allowed-tags
{
	font-size:14px;
}

/* ================= COMMENTS  ================== */
.comment-body
{
	border-bottom-width:1px; 
    border-bottom-style:solid; 
    padding-bottom:20px; 
    margin-bottom:20px;
}
.commentlist
{
	list-style: none;
	padding:0px;
	margin:0px;
}
.vcard
{
	font-size: 18px !important;
	font-style: normal !important;
	line-height:34px !important;
}
.comment-author, .reply
{
	font-size:26px;
	line-height:55px;
	margin-top:25px;
}
.comment-author img
{
	border:1px #ebebeb solid;
	padding:2px;
}
.comment-meta
{
	margin-bottom:20px;
}
.avatar
{
	float:left;
	margin-right:20px;
	height: 60px!important;
	width: 60px!important;
}
p.form-submit
{
	margin-bottom:40px !important;
}
#reply-title
{
	font-size:45px !important;
}
.reply a
{
	font-size:18px;
}
.reply a:before
{
	content : "↑ ";
}
.post-edit
{
	font-size:20px;
	line-height:20px;
    text-align:right;
}
.depth-1
{
list-style:none;
}
.depth-2, .depth-3, .depth-4, .depth-5, .depth-6
{
list-style:url(images/reply.png);
}
.depth-2 .avatar, .depth-3 .avatar, .depth-4 .avatar, .depth-5 .avatar, .depth-6 .avatar
{
margin-top:5px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

img.alignnone {
    margin: 5px 20px 20px 0;
}

img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
    margin: 10px auto;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 4px 5px;
}
.navigation
{
    clear:both;
}
.previous, .next
{
	font-size:28px;
	margin-top:30px;
	margin-bottom:30px;
}
.previous
{
    float:left;
}
.next
{
    float:right;
}
.wp-caption
{
	font-size:65px;
}
.wp-caption-text 
{
	font-size: 20px;
	line-height:30px;
}
.gallery-caption{font-size:65px;}
.bypostauthor {font-size:24px;}
.wp-caption-text {font-size:16px; clear:both; text-align:left;}
.sticky {border-bottom-width:1px; border-bottom-style:solid; padding-bottom:30px;}
.sticky h5 { font-weight:bold;}
.sticky p {font-weight:bold;}

@media screen and (max-width: 1024px) 
{
    .overview-button img
    {
        width: 30px;
        height: 30px;
        padding: 4px 6px 0px 0px;
    }
    .overview-button
    {
        width: 50px;
        height: 38px;
    }
	.trigger img
    {
        width: 30px;
        height: 30px;
        padding: 4px 6px 0px 0px;
    }
    .trigger
    {
        width: 50px;
        height: 38px;
		top:57px;
    }
	.search-button img
    {
        width: 30px;
        height: 30px;
        padding: 4px 5px 0px 0px;
    }
    .search-button
    {
        width: 40px;
        height: 38px;
		top:50px;
    }
	.panel {
	top: 105px;
    }
	.panel2 {
	top: 97px;
    }
	.home-button img
    {
        width: 30px;
        height: 30px;
        padding: 4px 6px 0px 0px;
    }
    .home-button
    {
        width: 50px;
        height: 38px;
    }
	.date-button
	{
        font-size:16px;
	    line-height:32px;
		padding-left:5px;
		padding-right:5px;
	}
    ul#navigation li img
    {
        width: 30px;
        height: 30px;
        padding: 5px 0px 0px 5px;
    }    
    ul#navigation li a
    {
        height: 40px;
    }
    ul#navigation li span
    {
        font-size: 20px;
        line-height: 40px;
        padding-right:20px;
    }
    ul#navigation li 
    {
        margin-right:-20px;
    }
    .hint {
	font-size: 18px;
	padding: 5px 10px 10px 10px;
}    
}